<div class="row">
    <div class="col-sm-30"  col-sm-offset-8>
        <form  (ngSubmit)="signup(f)" #f="ngForm">
            <div class="form-group">
                <label for="firstname">firstname</label>
                <input type="text" id="firstname" class="form-control" name="firstname" ngModel>
            </div>
            <div class="form-group">
                <label for="lastname">lastname</label>
                <input type="text" id="lastname" class="form-control" name="lastname" ngModel>
            </div>
            <div class="form-group">
                <label for="login">login</label>
                <input type="text" id="login" class="form-control" name="login" ngModel>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" id="password" class="form-control" name="password" ngModel>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>
</div>
